<div id="posts">
  <%= render @posts %>
</div>
<% unless @posts.current_page == @posts.total_pages %>
  <p id="view-more">
    <%= link_to('View More', url_for(page: @posts.current_page + 1), remote: true) %>
  </p>
<% end %>
<!--<div id="infinite-scrolling">
  <%= will_paginate @posts %>
</div>
<%= link_to 'Load More Posts', posts_path(:page => @posts.next_page), :class => 'load-more-posts', :remote => true if @posts.next_page %> -->
